body
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
}

.box h1{
    font-size: 50px;
    color:#21ebff;
    font-weight: 500;
    padding-bottom: 20px;
}

.box h3{
    font-size: 18px;
    color: rgb(243, 61, 61);
    padding-top: 0;
    padding-bottom: 15px;
}

.box input[type = "text"],.box input[type = "password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #21ebff;
    padding: 14px 10px;
    font-size: 15px;
    width: 200px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.4s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
    width: 280px;
    border-color: #2ecc71
}

.box input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color:white;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.25s;
}

.box input[type = "submit"]:hover
{
   background:#2ecc71; 
}