%import model

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Memo-igraj</title>
        <link rel="stylesheet" href="/css/baza.css">
    </head>
    <body>
        <table>
            %for j in range(napake):
                <tr>
                    % for i in range(4):
                        <td > <a class= "{{igra.ugibanja[j][0][i]}}"></a></td>
                    % end 
                    <td class="rezultat">  
                        <a class= "{{igra.ugibanja[j][1][0]}}"></a>
                        <a class= "{{igra.ugibanja[j][1][1]}}"></a>
                        <a class= "{{igra.ugibanja[j][1][2]}}"></a>
                        <a class= "{{igra.ugibanja[j][1][3]}}"></a>
                    </td>   
                </tr>
            % end
            % for j in range(6-napake):
                <tr>
                    % for i in range(4):
                        <td ></td>
                    % end 
                    <td class="rezultat"></td>
                </tr>
            %end
        </table>  

    % if stanje == model.ZMAGA:
        <p class="opozorilo"> Čestitke! Uspelo ti je pravilno uganiti!</p>
        
        <a class="nova_igra" href="/nastavi_stopnjo/">Nova igra</a>
        <a class="nova_igra" href="/">Glavni meni</a>


    % elif stanje == model.PORAZ: 
        <p class="opozorilo"> Žal ti tokrat ni uspelo. Več sreče naslednjič. Geslo je bilo:</p>
        <table>
            <tr>
                <td> <a class="{{ igra.geslo[0] }}"></a></td>
                <td><a class="{{ igra.geslo[1] }}"></a></td>
                <td><a class="{{ igra.geslo[2] }}"></a></td>
                <td><a class="{{ igra.geslo[3] }}"></a></td>
            </tr>
        </table>

        <a class="nova_igra" href="/nastavi_stopnjo/">Nova igra</a>
        <a class="nova_igra" href="/">Glavni meni</a>

    % else:
    <form action="/igraj/" method="POST" autocomplete="off">
        <input type="text" name="ugib">
        <button type="submit"> Ugibaj </button>
        
    </form>
    
    <p>
        % if int(igra.level) == 1:
            <p class="opozorilo"> Pozor! Barve se pri prvi stopnji ne ponavljajo. </p>
            <a class="R">R</a>
            <a class="M">M</a>
            <a class="Z">Z</a>
            <a class="O">O</a>
        % else:
            <p class="opozorilo"> Barve se lahko ponavljajo. </p>
            % for i in range(1, int(igra.level) + 1):
                %if i == 2:
                    <a class="R">R</a>
                    <a class="M">M</a>
                %elif i == 3:
                    <a class="Z">Z</a>
                %elif i == 4:
                    <a class="O">O</a>
                %elif i == 5:
                    <a class="V">V</a>
                %elif i == 6:
                    <a class="Y">Y</a>
                %elif i == 7:
                    <a class="P">P</a>
                %end
            % end
        %end
        t
    </p>

    

    % end
</body>
</html>