<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Memo-igraj</title>
        <link rel="stylesheet" href="baza.css">
    </head>
    <body>

        
        <table>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="rezultat"> </td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="rezultat"> </td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="rezultat"> </td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
            <td ></td>
            <td ></td>
            <td class="rezultat"> </td>
        </tr>
        <tr>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td class="rezultat"> </td>
        </tr>
        <tr>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td class="rezultat"> </td>
        </tr>
        
    </table>
    
    <p>
        t
        <a class="R" href=""></a>
        <a class="M" href=""></a>   
        <a class="Z" href=""></a>
        <a class="O" href=""></a>
        <a class="V" href=""></a>
        <a class="Y" href=""></a>
        <a class="P" href=""></a>
        t
    </p>
    


</body>
</html>