<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navodila igre</title>
    <link rel="stylesheet" href="/css/navodila.css">
</head>
<body>

    <h1>Memo</h1>
    <p>
        <b> Memo </b> je igra, kjer preizkusiš svojo bistrost, spomin in logiko.
    </p> 

    <h3>PRAVILA IGRE</h3>
    <p>
        Naloga igralca je, da v čim manjšem številu poizkusov (maksimalno je teh šest) ugane zastavljeno kombinacijo - to je po barvi in legi.
        Ob vsakem od šestih možnih poskusov dobi igralec povratno informacijo:
        <ol>
            <li>
                Če je zadel pravilno barvo in lego</b> krogca v kombinaciji, dobi <b>črn</b> krogec na naključno mesto na desni strani.
            </li>
            <li>
                Če je zadel pravilno <b>barvo</b> krogca, pravilne lege v kombinaciji pa ne, dobi <b>bel</b> krogec na naključno mesto na desni strani.
            </li>
            <li>
                Če ni zadel niti barve, ne dobi ničesar.
            </li>
        </ol>
        Tako igralec <b>ne ve</b>, za kateri barvni krogec je dobil črn ali bel krogec na desni strani igralne plošče.
        Igra je končana, ko igralec ugane pravilno kombinacijo, to je, da prejme <b>štiri črne krogce</b> ali pa mu kombinacije ne uspe uganiti v šestih poskusih in prejme <b>štiri rdeče krogce</b>, ki oznanijo njegov neuspeh.
    </p>


    <h3>STOPNJE:</h3>
    <p>
        Stopnje v igri narekujejo, kako zahtevno kombinacijo igralec ugiba:
        <ol>
            <li>
                Igralec ugiba med <b>štirimi</b> različnimi barvami, ampak se te <b>ne ponavljajo</b>.
            </li>
            (OD TU NAPREJ SE BARVE VEDNO <b>PONAVLJAJO</b>.)
            <li>
                Igralec ugiba med <b>dvema</b> različnima barvama, ampak se ti <b>ponavljata</b>. 
            </li>
            <li>
                Igralec ugiba med <b>tremi</b> različnimi barvami.
            </li>
            <li>
                Igralec ugiba med <b>štirimi</b> različnimi barvami.
            </li>
            <li>
                Igralec ugiba med <b>petimi</b> različnimi barvami.
            </li>
            <li>
                Igralec ugiba med <b>šestimi</b> različnimi barvami. (Originalna igra)
            </li>
            <li>
                Igralec ugiba med <b>sedmimi</b> različnimi barvami.
            </li>
        </ol>
    </p>
 
  
  
    
</body>
</html>