<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="/css/prijava.css">
</head>
<body>
    <form class="box" action="" method="POST">
        <h1>REGISTRACIJA</h1>
        <input type="text" name="uporabnisko_ime" placeholder="Ime in Priimek" required>
        <input type="password" name="geslo" placeholder="Geslo" required>
        % if napaka:
            <h3>{{ napaka }}</h3>
        % end
        <input type="submit" value="Registriraj se">
    </form>
    
</body>
</html>